<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                PlayDates
            </a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li {% unless page.url == "/profile/" %}class="active"{% endunless %}>
                    <a href="/">Matches</a>
                </li>
                <li {% if page.url == "/profile/" %}class="active"{% endif %}>
                    <a href="/profile">Paw-file</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
